@model IEnumerable<Survey.Models.FAQ>

@{
    ViewBag.Title = "FAQHome";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


<!DOCTYPE html>

<head>
    <!-- =======  F.A.Q Section ======= -->
    <section id="faq">

        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>F.A.Q </h2>
                <p>Freequently Asked Question</p>
            </div>

            <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-9">
                    <ul id="faq-list">

                        @foreach (var item in Model)
                        { 
                        <li>
                            <a data-toggle="collapse" class="collapsed" href="#faq1">@Html.DisplayFor(modelItem => item.Name) <i class="fa fa-minus-circle"></i></a>
                            <div id="faq1" class="collapse" data-parent="#faq-list">
                                <p>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </p>
                            </div>
                        </li>
                        }
                    </ul>
                </div>
            </div>

        </div>

    </section>

</head>


