
@{
    ViewBag.Title = "WaitAccount";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div id="a" class="jumbotron text-center">
    <h1 class="display-4" style="#00FF6F ">Thanks For Registering!</h1>
    <p class="lead"> Hi <strong>@ViewBag.UserName</strong>,Your account is awaiting confirmation. We will notify when completed.</p>
    <hr>
    <p>  </p>
    <p>
        Having trouble? <a style="color:black" href="">Contact us</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-sm" href="~/Home/" role="button">Continue to homepage</a>
    </p>
</div>

